@use '~@angular/material' as mat;

.main-sections {
    padding: 48px 50px 0 50px;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    height: calc(100% - 48px);

    mat-card {
        margin: 15px;
        align-items: flex-start;

        mat-card-content {
            margin-bottom: 0;

            mat-list {
                margin-left: 20px;
                font-size: 16px;

                mat-divider {
                    margin-top: 15px;
                    padding-right: 16px;
                }

                mat-list-item {
                    margin-left: 9px;
                    height: 100%;

                    mat-divider {
                        margin-left: 7px;
                        padding-right: 0;
                    }
                }
            }
        }

        &{
            transition: all 0.3s ease;
        }

        &:hover:not(.transparent) {
            @include mat.elevation(10);
            cursor: pointer;
            transform: scale(1.1, 1);
            transition: all 0.3s ease;
        }

        &.current {
            @include mat.elevation(8);
            mat-card-content {
                margin: 30px;

                mat-list {
                    mat-divider {
                        padding-right: 46px;
                    }

                    mat-list-item{
                        mat-divider {
                            padding-right: 37px;
                            margin-left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}
.mat-text{
    margin: 15px 0;
}
.transparent {
    opacity: 0.5;
}
