<div class="main-sections">
    <mat-card *ngFor="let section of sectionsInterface?.sections">
        <div class="content">
            <mat-card-title>
                {{section.name}}
            </mat-card-title>

            <mat-card-content>
                <mat-list *ngFor="let direction of section.directions">
                    {{direction.name}}

                    <mat-list-item *ngFor="let topic of direction.topics">
                        {{topic.name}}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </div>
    </mat-card>
</div>
