.title {
    flex: 0 0 auto;
    justify-content: center;

    span {
        flex-grow: 1;
    }
}

.container{
    overflow:hidden;

    flex: 1 0 0;
    .content{
        height: calc(100% - 48px);
        overflow: auto;

        .main-about{

        }
    }
}

.copyright {
    flex: 0 0 auto;
}
