<mat-toolbar class="title" color="primary">
    <span>Математическая коллекция</span>
</mat-toolbar>
<div class="container">
    <nav mat-tab-nav-bar mat-align-tabs="center" backgroundColor="primary">
        <section>
            <a mat-tab-link
               routerLinkActive
               #rlaAbout="routerLinkActive"
               [active]="rlaAbout.isActive"
               routerLink="/about">О проекте</a>
        </section>
        <section>
            <a mat-tab-link
               routerLinkActive
               #rlaContacts="routerLinkActive"
               [active]="rlaContacts.isActive"
               routerLink="/contacts">Контакты</a>
        </section>
    </nav>
    <div class="content">
        <div class="main">
            <router-outlet></router-outlet>
        </div>
        <mat-toolbar class="copyright" color="primary">
            <span>{{ copyright }}</span>
        </mat-toolbar>
    </div>
</div>
