.title {
    flex: 0 0 auto;
    justify-content: center;

    span {
        flex-grow: 1;
    }
}

.container{
    overflow:hidden;
    height: 100%;

    .content{
        display: flex;
        flex-direction: column;
        height: calc(100% - 48px);
        overflow: hidden auto ;

        .main{
            flex: 1 0 auto;
            overflow: auto;
        }

        .copyright {
            display: flex;
            flex: 0 1 auto;
        }
    }
}
