<mat-toolbar id="head" class="title" color="primary">
  <span>Математическая коллекция</span>
  <!--<div>
    <button mat-flat-button
            class="theme-button"
            (click)="toggleBackground()">
        Темная тема
    </button>
    <button mat-flat-button>Вход</button>
    <button mat-flat-button>Регистрация</button>
  </div>-->
</mat-toolbar>
<div id="content" class="container">

    <nav mat-tab-nav-bar color="primary"  mat-align-tabs="center"><!--backgroundColor="primary"-->

      <a mat-tab-link
         routerLink="">Разделы</a>
      <section>
        <a mat-tab-link
           routerLinkActive
           #rlaAbout="routerLinkActive"
           [active]="rlaAbout.isActive"
           routerLink="/about">О проекте</a>
      </section>
    </nav>

  <div>

  </div>
  <router-outlet></router-outlet>
</div>
<!--<div>
  <mat-card>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
        Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
        was originally bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</div>-->
 <!-- <mat-tab-group mat-align-tabs="center" backgroundColor="primary">&lt;!&ndash;[backgroundColor]="background"&ndash;&gt;
    <mat-tab label="Разделы">
      <div class="container">
        <p class="span-contacts">
        Ut vehicula porttitor ante, sit amet semper sem tristique eget. Praesent consectetur posuere eleifend. Donec in arcu non quam facilisis egestas. Quisque sed purus vitae urna gravida porttitor. Vestibulum erat nunc, rutrum id posuere id, ornare et ligula. Nullam aliquam ullamcorper magna, nec lacinia ligula ultricies sed. Fusce molestie dapibus ante dignissim egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sed justo viverra, egestas turpis sit amet, posuere nisl. Aenean sapien purus, tristique in euismod eget, tristique nec neque. In vulputate semper arcu sit amet viverra. Nunc tempor, metus sed ultrices consequat, risus est fringilla libero, at iaculis dolor quam eget tellus. Vestibulum ut pulvinar enim, in efficitur purus.
          Nunc neque risus, suscipit a libero nec, congue consectetur neque. Praesent finibus ex et pellentesque volutpat. Donec lacinia enim ac neque semper, et porttitor nisi tempor. Suspendisse fermentum quam non vulputate hendrerit. Duis in pretium elit, egestas pellentesque magna. Phasellus eget leo placerat nisl cursus varius luctus quis nisi. In nibh purus, consequat in lacus nec, imperdiet volutpat lectus. Sed posuere odio nec velit pellentesque dapibus. Ut nibh enim, venenatis id risus eu, pharetra ultricies dui. Donec quis viverra velit, ut bibendum arcu. Proin facilisis, sem id fringilla accumsan, justo nunc auctor ligula, non bibendum dolor ex id urna. Proin sit amet pellentesque augue. Curabitur ultrices erat quis elit condimentum pellentesque. Nullam cursus orci ex, in molestie justo suscipit molestie.
          Aenean sed porta nisi. Donec in lacus tincidunt
        </p>

        <mat-toolbar class="copyright" color="primary">
          <span>{{ copyright }}</span> &lt;!&ndash;owner here&ndash;&gt;
        </mat-toolbar>
      </div>
    </mat-tab>
    &lt;!&ndash;<mat-tab label="Схема">
      Content 2
    </mat-tab>
    <mat-tab label="Поиск">
      Content 3
    </mat-tab>&ndash;&gt;
      <mat-tab label="О проекте">
        <div class="container">
          <p>О проекте:</p>

          <mat-toolbar class="copyright bottom" color="primary">
            <span>{{ copyright }}</span>
          </mat-toolbar>
        </div>
      </mat-tab>
    <mat-tab  label="Контакты">
      <div class="container">
        <p>Контакты:</p>

      </div>
    </mat-tab>
  </mat-tab-group>-->

<mat-toolbar class="copyright bottom" color="primary">
  <span>{{ copyright }} {{users[0].name }}</span>

</mat-toolbar>
